Repository HackSC/hibiscus, changes with the owners that CODEOWNERS names for each.
All owners: @snokpok, @SuhitAgarwal, @VictiniX888

preparation for publicizing repo (#278)
  tools/keys/platform-credentials.json
Owners: @snokpok

add "Others" field into single choice input (#277)
  apps/dashboard/common/hackform.metadata.ts
  apps/dashboard/components/check-in/check-in.spec.tsx
  apps/dashboard/components/check-in/check-in.stories.tsx
  apps/dashboard/components/check-in/check-in.tsx
  apps/dashboard/components/hacker-manager/hacker-manager.stories.tsx
  apps/dashboard/components/hacker-manager/hacker-manager.tsx
  apps/dashboard/components/hackerform/date-question/date-question.tsx
  apps/dashboard/components/hackerform/hackform-backnext-widget/hackform-backnext-widget.stories.tsx
  apps/dashboard/components/hackerform/hackform-backnext-widget/hackform-backnext-widget.tsx
  apps/dashboard/components/hackerform/hackform-end/hackform-end.stories.tsx
  apps/dashboard/components/hackerform/hackform-end/hackform-end.tsx
  apps/dashboard/components/hackerform/hackform-introduction/hackform-introduction.stories.tsx
  apps/dashboard/components/hackerform/hackform-introduction/hackform-introduction.tsx
  apps/dashboard/components/hackerform/hackform-question-header/hackform-question-header.stories.tsx
  apps/dashboard/components/hackerform/hackform-question-header/hackform-question-header.tsx
  apps/dashboard/components/hackerform/hackform-question.stories.tsx
  apps/dashboard/components/hackerform/hackform-question/hackform-question.stories.tsx
  apps/dashboard/components/hackerform/hackform-question/hackform-question.tsx
  apps/dashboard/components/hackerform/hackform/hackform.stories.tsx
  apps/dashboard/components/hackerform/hackform/hackform.tsx
  apps/dashboard/components/hackerform/long-text-input/long-text-input.stories.tsx
  apps/dashboard/components/hackerform/long-text-input/long-text-input.tsx
  apps/dashboard/components/hackerform/question-creator/question-creator.stories.tsx
  apps/dashboard/components/hackerform/question-creator/question-creator.tsx
  apps/dashboard/components/hackerform/searchable-options-input/searchable-options-input.stories.tsx
  apps/dashboard/components/hackerform/searchable-options-input/searchable-options-input.tsx
  apps/dashboard/components/hackerform/short-text-input/short-text-input.stories.tsx
  apps/dashboard/components/hackerform/short-text-input/short-text-input.tsx
  apps/dashboard/components/hackerform/single-choice-input/single-choice-input.tsx
  apps/dashboard/components/navbar/navbar.spec.tsx
  apps/dashboard/components/navbar/navbar.stories.tsx
  apps/dashboard/components/navbar/navbar.tsx
  apps/dashboard/pages/apply-2023/index.tsx
  libs/types/src/lib/form.ts
  libs/ui-kit-2023/src/lib/one-line-text/one-line-text.tsx
Owners: @snokpok, @SuhitAgarwal

Prevent calling external callback URLs by SSO
  .env.example
  apps/sso-mock-app/middleware.ts
  apps/sso-mock-app/pages/api/callback.ts
  libs/sso-client/src/lib/sso-client.ts
Owners: @snokpok, @SuhitAgarwal, @VictiniX888

adding last line to readme describing our intention
  README.md
Owners: @snokpok, @SuhitAgarwal

Make SSO redirect to URL provided by env var when no/invalid callback URL is given
  .env.example
  apps/sso/components/login-card/login-card.tsx
  apps/sso/components/login-guard.tsx
Owners: @snokpok, @SuhitAgarwal

adding last line to readme describing our open source intention (#280)
  README.md
Owners: @snokpok, @SuhitAgarwal

Fix invalid URL matching
  libs/sso-client/src/lib/sso-client.ts
Owners: @snokpok, @SuhitAgarwal

Replace SSO_URL with NEXT_PUBLIC_SSO_URL
  .env.example
  libs/sso-client/src/lib/sso-client.ts
Owners: @snokpok, @SuhitAgarwal

Simplify redirect branching
  apps/sso/components/login-guard.tsx
Owners: @snokpok, @SuhitAgarwal

added questions and type
  apps/dashboard/common/hackform.metadata.ts
  libs/types/src/lib/form.ts
Owners: @snokpok, @SuhitAgarwal

adding last line to readme describing our open source intention (#280)
  README.md
Owners: @snokpok, @SuhitAgarwal

Implement log out API
  apps/sso/pages/logout/index.tsx
  libs/hibiscus-supabase-client/src/index.ts
  libs/sso-client/src/lib/sso-client.ts
Owners: @snokpok, @SuhitAgarwal

Add logout button to mock app
  apps/sso-mock-app/pages/index.tsx
  libs/sso-client/src/lib/sso-client.ts
Owners: @VictiniX888, @snokpok, @SuhitAgarwal

Register logout route
  apps/sso/middleware.ts
  apps/sso/pages/logout/index.tsx
  libs/hibiscus-supabase-client/src/index.ts
  libs/sso-client/src/lib/sso-client.ts
Owners: @snokpok, @SuhitAgarwal

add multiselect and more validations
  apps/dashboard/common/hackform.metadata.ts
  apps/dashboard/components/hackerform/hackform-backnext-widget/hackform-backnext-widget.tsx
  apps/dashboard/components/hackerform/hackform-question/hackform-question.tsx
  apps/dashboard/components/hackerform/multi-select-question/multi-select-question.tsx
  apps/dashboard/components/hackerform/short-text-input/short-text-input.tsx
  apps/dashboard/hooks/use-hackform/use-hackform.ts
  apps/dashboard/store/hackform-slice.ts
  apps/dashboard/store/store.ts
  libs/types/src/lib/form.ts
  libs/ui-kit-2023/src/lib/checkbox/checkbox.tsx
Owners: @snokpok, @SuhitAgarwal

implement multi-select (#283)
  README.md
  apps/dashboard/common/hackform.metadata.ts
  apps/dashboard/components/hackerform/hackform-backnext-widget/hackform-backnext-widget.tsx
  apps/dashboard/components/hackerform/hackform-question/hackform-question.tsx
  apps/dashboard/components/hackerform/multi-select-question/multi-select-question.tsx
  apps/dashboard/components/hackerform/short-text-input/short-text-input.tsx
  apps/dashboard/hooks/use-hackform/use-hackform.ts
  apps/dashboard/store/hackform-slice.ts
  apps/dashboard/store/store.ts
  libs/types/src/lib/form.ts
  libs/ui-kit-2023/src/lib/checkbox/checkbox.tsx
Owners: @snokpok, @SuhitAgarwal

recruitment page company images
  apps/recruitment/components/alum-destinations/alum-destinations.tsx
Owners: @snokpok, @SuhitAgarwal

Hib 68 add all questions into hackform (#284)
  apps/dashboard/common/hackform.metadata.ts
  apps/dashboard/components/hackerform/hackform-backnext-widget/hackform-backnext-widget.tsx
  apps/dashboard/components/hackerform/hackform-question/hackform-question.tsx
  apps/dashboard/components/hackerform/multi-select-question/multi-select-question.tsx
  apps/dashboard/components/hackerform/short-text-input/short-text-input.tsx
  apps/dashboard/hooks/use-hackform/use-hackform.ts
  apps/dashboard/store/hackform-slice.ts
  apps/dashboard/store/store.ts
  libs/types/src/lib/form.ts
  libs/ui-kit-2023/src/lib/checkbox/checkbox.tsx
Owners: @snokpok, @SuhitAgarwal

flipcard
  apps/www-2023/components/verticals/verticals.tsx
  libs/ui/src/index.ts
  libs/ui/src/lib/flipcard/flipcard.tsx
Owners: @snokpok, @SuhitAgarwal

fix webpack problem
  apps/dashboard/next.config.js
  apps/dashboard/package.json
  apps/dashboard/with-nx.js
Owners: @snokpok, @SuhitAgarwal

www-2023 all sections other than hero
  apps/www-2023/components/navbar/mobile-navbar/mobile-navbar.tsx
  apps/www-2023/components/verticals/verticals.tsx
  apps/www-2023/public/img/graphics/coin.svg
  apps/www-2023/public/img/graphics/heart.svg
  apps/www-2023/public/img/graphics/planet.svg
  apps/www-2023/public/img/graphics/puzzle.svg
  libs/ui/src/index.ts
Owners: @snokpok, @SuhitAgarwal

circular dep fix
  libs/ui/src/lib/accordion/accordion-2023.tsx
Owners: @snokpok, @SuhitAgarwal

flipcard
  apps/www-2023/components/verticals/verticals.tsx
  libs/ui/src/index.ts
  libs/ui/src/lib/flipcard/flipcard.tsx
Owners: @snokpok, @SuhitAgarwal

recruitment page company images
  apps/recruitment/components/alum-destinations/alum-destinations.tsx
Owners: @snokpok, @SuhitAgarwal

www-2023 all sections other than hero
  apps/www-2023/components/navbar/mobile-navbar/mobile-navbar.tsx
  apps/www-2023/components/verticals/verticals.tsx
  apps/www-2023/public/img/graphics/coin.svg
  apps/www-2023/public/img/graphics/heart.svg
  apps/www-2023/public/img/graphics/planet.svg
  apps/www-2023/public/img/graphics/puzzle.svg
  libs/ui/src/index.ts
Owners: @snokpok, @SuhitAgarwal

circular dep fix
  libs/ui/src/lib/accordion/accordion-2023.tsx
Owners: @snokpok, @SuhitAgarwal

Fix cookies sometimes not deleted
  libs/sso-client/src/lib/sso-client.ts
Owners: @snokpok, @SuhitAgarwal

Add most functionality to team portal.
  apps/dashboard/pages/api/invite/accept.ts
  apps/dashboard/pages/api/invite/reject.ts
  apps/dashboard/pages/api/inviteeRequest
  apps/dashboard/pages/api/misc-methods.ts
  apps/dashboard/pages/api/organizer/create.ts
  apps/dashboard/pages/api/organizer/disband.ts
  apps/dashboard/pages/api/organizer/invite.ts
  apps/dashboard/pages/api/organizer/kick.ts
  apps/dashboard/repository/DashboardRepository.ts
  libs/hibiscus-supabase-client/src/index.ts
  supabase/migrations/20221226001211_remote_commit.sql
  supabase/migrations/20230103024544_fix_team_invite_schema.sql
Owners: @snokpok, @SuhitAgarwal

more work
  .env.example
  apps/dashboard/common/api.ts
  apps/dashboard/common/hackform.metadata.ts
  apps/dashboard/common/types.ts
  apps/dashboard/components/hackerform/file-question/file-question.tsx
  apps/dashboard/components/hackerform/hackform-question/hackform-question.tsx
  apps/dashboard/next.config.js
  apps/dashboard/pages/api/resume.ts
  libs/hackform-client/src/index.ts
  libs/hackform-client/src/lib/hibiscus-hackform-client.ts
  libs/hackform-client/src/lib/resume-client.ts
  libs/types/src/lib/form.ts
  package.json
  yarn.lock
Owners: @snokpok, @SuhitAgarwal

www-2023 all sections other than hero
  libs/ui/src/index.ts
Owners: @snokpok, @SuhitAgarwal

flipcard
  libs/ui/src/index.ts
Owners: @snokpok, @SuhitAgarwal

circular dep fix?
  apps/recruitment/components/hero/hero.tsx
  libs/ui-kit-2023/src/lib/color-span/color-span.tsx
  libs/ui/src/lib/accordion/accordion-2023.tsx
Owners: @snokpok, @SuhitAgarwal

circular dep fix now?
  libs/ui/src/lib/accordion/accordion-2023.tsx
Owners: @snokpok, @SuhitAgarwal

Consolidate cookies on superdomain, logout works across all apps now
  libs/hibiscus-supabase-client/src/index.ts
  libs/sso-client/src/lib/sso-client.ts
Owners: @snokpok, @SuhitAgarwal

integrated with s3
  apps/dashboard/common/api.ts
  apps/dashboard/common/constants.ts
  apps/dashboard/common/hackform.metadata.ts
  apps/dashboard/common/types.ts
  apps/dashboard/components/hackerform/file-question/file-question.tsx
  apps/dashboard/pages/api/resume.ts
  apps/dashboard/store/hackform-slice.ts
  libs/hackform-client/src/lib/resume-client.ts
  package.json
  yarn.lock
Owners: @snokpok, @SuhitAgarwal

integrated hackform with backend
  apps/dashboard/common/api.ts
  apps/dashboard/components/hackerform/hackform-end/hackform-end.tsx
  apps/dashboard/hooks/use-hackform/use-hackform.ts
  apps/dashboard/pages/api/hackform.ts
  libs/hackform-client/src/index.ts
  libs/hackform-client/src/lib/data-client.ts
  libs/hackform-client/src/lib/hibiscus-hackform-client.ts
  package.json
  yarn.lock
Owners: @snokpok, @SuhitAgarwal

remove comments + not allowed method
  apps/dashboard/pages/api/hackform.ts
  libs/hackform-client/src/lib/data-client.ts
Owners: @snokpok, @SuhitAgarwal

credentials
  libs/hackform-client/src/lib/credentials.ts
  libs/hackform-client/src/lib/data-client.ts
  libs/hackform-client/src/lib/resume-client.ts
Owners: @snokpok

example env change
  .env.example
Owners: @snokpok, @SuhitAgarwal

variable-ize region
  .env.example
  libs/hackform-client/src/lib/aws.ts
  libs/hackform-client/src/lib/data-client.ts
  libs/hackform-client/src/lib/resume-client.ts
Owners: @snokpok, @SuhitAgarwal

CODEOWNERS:

* 						@snokpok @SuhitAgarwal
/.github				@snokpok

/apps/dashboard 		@snokpok @SuhitAgarwal
/apps/interim 			@snokpok @SuhitAgarwal
/apps/log-server 		@snokpok
/apps/recruitment 		@snokpok @SuhitAgarwal
/apps/sso 				@snokpok @SuhitAgarwal
/apps/sso-mock-app 		@VictiniX888

/libs/analytics			@snokpok
/libs/ui-kit-2023		@snokpok
/libs/hackform-client				@snokpok
/libs/hibiscus-supabase-client		@snokpok
/libs/www-2023			@SuhitAgarwal

/tools 				@snokpok
