Repository HackSC/hibiscus, changes with the owners that CODEOWNERS names for each.
All owners: @snokpok, @SuhitAgarwal, @VictiniX888

fix some weird shit dk what this is about
  apps/dashboard/next.config.js
  apps/dashboard/package.json
  apps/dashboard/with-nx.js
Owners: @snokpok, @SuhitAgarwal

Refactor raw api calls
  apps/sso-mock-app/middleware.ts
  apps/sso/pages/api/validateSession.ts
  libs/hibiscus-supabase-client/src/index.ts
Owners: @VictiniX888, @snokpok, @SuhitAgarwal

`hibiscus-identity-bot` app init setup
  apps/discord-identity-bot/.eslintrc.json
  apps/discord-identity-bot/jest.config.ts
  apps/discord-identity-bot/project.json
  apps/discord-identity-bot/src/app/.gitkeep
  apps/discord-identity-bot/src/assets/.gitkeep
  apps/discord-identity-bot/src/environments/environment.prod.ts
  apps/discord-identity-bot/src/environments/environment.ts
  apps/discord-identity-bot/src/main.ts
  apps/discord-identity-bot/tsconfig.app.json
  apps/discord-identity-bot/tsconfig.json
  apps/discord-identity-bot/tsconfig.spec.json
  workspace.json
Owners: @snokpok, @SuhitAgarwal

Create SSO client library for middleware and callback api reuse
  apps/sso-mock-app/middleware.ts
  apps/sso-mock-app/pages/api/callback.ts
  libs/sso-client/.babelrc
  libs/sso-client/.eslintrc.json
  libs/sso-client/README.md
  libs/sso-client/jest.config.ts
  libs/sso-client/project.json
  libs/sso-client/src/index.ts
  libs/sso-client/src/lib/sso-client.spec.ts
  libs/sso-client/src/lib/sso-client.ts
  libs/sso-client/tsconfig.json
  libs/sso-client/tsconfig.lib.json
  libs/sso-client/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Owners: @VictiniX888, @snokpok, @SuhitAgarwal

Add JSDoc for verifyToken function
  libs/hibiscus-supabase-client/src/index.ts
Owners: @snokpok

Fix build error
  libs/hibiscus-supabase-client/src/index.ts
  libs/sso-client/src/lib/sso-client.ts
Owners: @snokpok, @SuhitAgarwal

Refactor validateSession and ssoCallback to supabase library
  apps/sso/components/login-card/login-card.tsx
  apps/sso/components/login-guard.tsx
  libs/hibiscus-supabase-client/src/index.ts
  libs/types/src/lib/api/sso.ts
Owners: @snokpok, @SuhitAgarwal

Fix incorrect function signature for axios post
  apps/sso/pages/api/validateSession.ts
  libs/hibiscus-supabase-client/src/index.ts
Owners: @snokpok, @SuhitAgarwal

use cache to share between jobs
  .github/workflows/ci.yml
Owners: @snokpok

some quick naming fixes
  libs/ui-kit-2023/src/index.ts
  libs/ui-kit-2023/src/lib/calendar/calendar.stories.tsx
  libs/ui-kit-2023/src/lib/calendar/calendar.tsx
  libs/ui-kit-2023/src/lib/date-picker/date-picker.tsx
Owners: @snokpok

use base and head
  .github/workflows/ci.yml
Owners: @snokpok

use nx-set-sha for reliability
  .github/workflows/ci.yml
Owners: @snokpok

test tracking the branch
  .github/workflows/ci.yml
Owners: @snokpok

change trigger
  .github/workflows/ci.yml
Owners: @snokpok

make change
  libs/ui-kit-2023/src/lib/arrow-button/arrow-button.tsx
Owners: @snokpok

`discord-identity-bot` app init setup (#259)
  apps/discord-identity-bot/.eslintrc.json
  apps/discord-identity-bot/jest.config.ts
  apps/discord-identity-bot/project.json
  apps/discord-identity-bot/src/app/.gitkeep
  apps/discord-identity-bot/src/assets/.gitkeep
  apps/discord-identity-bot/src/environments/environment.prod.ts
  apps/discord-identity-bot/src/environments/environment.ts
  apps/discord-identity-bot/src/main.ts
  apps/discord-identity-bot/tsconfig.app.json
  apps/discord-identity-bot/tsconfig.json
  apps/discord-identity-bot/tsconfig.spec.json
  workspace.json
Owners: @snokpok, @SuhitAgarwal

change back
  libs/ui-kit-2023/src/lib/arrow-button/arrow-button.tsx
Owners: @snokpok

improvements to CI jobs (#262)
  .github/workflows/ci.yml
Owners: @snokpok

add more stuff to kodiak
  .kodiak.toml
Owners: @snokpok, @SuhitAgarwal

add more stuff to kodiak (#263)
  .kodiak.toml
Owners: @snokpok, @SuhitAgarwal

Move ssocallback function to sso-client, delete invalid test file
  apps/sso/components/login-card/login-card.tsx
  libs/hibiscus-supabase-client/src/index.ts
  libs/sso-client/src/lib/sso-client.spec.ts
  libs/sso-client/src/lib/sso-client.ts
Owners: @snokpok, @SuhitAgarwal

Fix compile error
  apps/sso/components/login-guard.tsx
Owners: @snokpok, @SuhitAgarwal

Store callback url in sessionstorage
  apps/sso/components/login-card/login-card.tsx
  apps/sso/components/login-guard.tsx
  apps/sso/pages/login/index.tsx
Owners: @snokpok, @SuhitAgarwal

Fix infinite login loop
  apps/sso/components/login-guard.tsx
  apps/sso/pages/login/index.tsx
Owners: @snokpok, @SuhitAgarwal

fix hackform not building
  libs/hackform-client/src/lib/hibiscus-hackform-client.ts
  libs/types/src/lib/form.ts
  package.json
  yarn.lock
Owners: @snokpok, @SuhitAgarwal

remove spec for ui
  libs/ui/src/lib/accordion/accordion.spec.tsx
  libs/ui/src/lib/flipcard/flipcard.spec.tsx
  libs/ui/src/lib/gradient-span/gradient-span.spec.tsx
  libs/ui/src/lib/heading/heading.spec.tsx
  libs/ui/src/lib/link/link.spec.tsx
  libs/ui/src/lib/spacer/spacer.spec.tsx
  libs/ui/src/lib/text/text.spec.tsx
Owners: @snokpok, @SuhitAgarwal

fix less problem by compiling it to css instead
  libs/ui-kit-2023/src/lib/calendar/calendar.module.css
  libs/ui-kit-2023/src/lib/calendar/calendar.module.less
  libs/ui-kit-2023/src/lib/calendar/calendar.tsx
  nx.json
  package.json
  tsconfig.base.json
  yarn.lock
Owners: @snokpok, @SuhitAgarwal

FNDS-73 Refactor raw API calls in SSO into a client library (#260)
  apps/sso-mock-app/middleware.ts
  apps/sso-mock-app/pages/api/callback.ts
  apps/sso/components/login-card/login-card.tsx
  apps/sso/components/login-guard.tsx
  apps/sso/pages/api/validateSession.ts
  libs/hibiscus-supabase-client/src/index.ts
  libs/sso-client/.babelrc
  libs/sso-client/.eslintrc.json
  libs/sso-client/README.md
  libs/sso-client/jest.config.ts
  libs/sso-client/project.json
  libs/sso-client/src/index.ts
  libs/sso-client/src/lib/sso-client.ts
  libs/sso-client/tsconfig.json
  libs/sso-client/tsconfig.lib.json
  libs/sso-client/tsconfig.spec.json
  libs/types/src/lib/api/sso.ts
  tsconfig.base.json
  workspace.json
Owners: @VictiniX888, @snokpok, @SuhitAgarwal

FNDS-78 implement redirects for remaining routes (#261)
  apps/sso/components/login-card/login-card.tsx
  apps/sso/components/login-guard.tsx
  apps/sso/pages/login/index.tsx
Owners: @snokpok, @SuhitAgarwal

date picker component (#248)
  apps/dashboard/components/glow-span/index.tsx
  apps/dashboard/components/hackerform/hackform-end.tsx
  apps/dashboard/components/hackerform/hackform-introduction.tsx
  apps/dashboard/components/top-bar/top-bar.tsx
  libs/icons/.babelrc
  libs/icons/.eslintrc.json
  libs/icons/README.md
  libs/icons/jest.config.ts
  libs/icons/package.json
  libs/icons/project.json
  libs/icons/src/assets/chevron-right.svg
  libs/icons/src/index.ts
  libs/icons/src/lib/chevron-right-icon/chevron-right-icon.spec.tsx
  libs/icons/src/lib/chevron-right-icon/chevron-right-icon.tsx
  libs/icons/tsconfig.json
  libs/icons/tsconfig.lib.json
  libs/icons/tsconfig.spec.json
  libs/styles/src/lib/colors.ts
  libs/ui-kit-2023/.storybook/tsconfig.json
  libs/ui-kit-2023/src/index.ts
  libs/ui-kit-2023/src/lib/arrow-button/arrow-button.tsx
  libs/ui-kit-2023/src/lib/calendar/calendar.module.css
  libs/ui-kit-2023/src/lib/calendar/calendar.module.less
  libs/ui-kit-2023/src/lib/calendar/calendar.stories.tsx
  libs/ui-kit-2023/src/lib/calendar/calendar.tsx
  libs/ui-kit-2023/src/lib/date-picker/date-picker.spec.tsx
  libs/ui-kit-2023/src/lib/date-picker/date-picker.stories.tsx
  libs/ui-kit-2023/src/lib/date-picker/date-picker.tsx
  libs/ui-kit-2023/src/lib/glow-span/glow-span.spec.tsx
  libs/ui-kit-2023/src/lib/glow-span/glow-span.tsx
  nx.json
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Owners: @snokpok, @SuhitAgarwal

Add initial code for organizers side of team portal.
  .env.local
  apps/dashboard/pages/api/common.ts
  apps/dashboard/pages/api/invite/accept.ts
  apps/dashboard/pages/api/invite/reject.ts
  apps/dashboard/pages/api/inviter.ts
  apps/dashboard/pages/api/misc-methods.ts
  apps/dashboard/pages/api/organizer/create.ts
  apps/dashboard/pages/api/organizer/invite.ts
  package.json
  yarn.lock
Owners: @snokpok, @SuhitAgarwal

rough impl
  apps/dashboard/components/portal-menu/portal-menu.tsx
  apps/dashboard/pages/index.tsx
  libs/icons/src/lib/minimize-two-arrow-icon/minimize-two-arrow-icon.tsx
Owners: @snokpok, @SuhitAgarwal

use layout; shift+enter for newline in long-text-input
  apps/dashboard/common/role.utils.ts
  apps/dashboard/components/hackerform/hackform.tsx
  apps/dashboard/components/hackerform/long-text-input.tsx
  apps/dashboard/components/hackerform/searchable-options-input.tsx
  apps/dashboard/hooks/use-hibiscus-user/use-hibiscus-user.ts
  apps/dashboard/layouts/portal-layout.tsx
  apps/dashboard/pages/apply-2023/index.tsx
  apps/dashboard/pages/index.tsx
  apps/dashboard/pages/styles.css
Owners: @snokpok, @SuhitAgarwal

add left bar on active, hover and active glow
  apps/dashboard/components/portal-menu/portal-menu.tsx
  apps/dashboard/layouts/portal-layout.tsx
Owners: @snokpok, @SuhitAgarwal

add redux for menu state
  apps/dashboard/components/portal-menu/portal-menu.tsx
  apps/dashboard/hooks/redux/hooks.ts
  apps/dashboard/pages/_app.tsx
  apps/dashboard/store/menu-slice.ts
  apps/dashboard/store/store.ts
  package.json
  yarn.lock
Owners: @snokpok, @SuhitAgarwal

fix lint
  apps/dashboard/components/portal-menu/portal-menu.tsx
Owners: @snokpok, @SuhitAgarwal

remove unnecessary tests
  apps/dashboard/components/gray-content-box/gray-content-box.spec.tsx
  apps/dashboard/components/gray-content-box/gray-content-box.tsx
  apps/dashboard/components/hacker-manager/hacker-manager.spec.tsx
  apps/dashboard/components/portal-menu/portal-menu.spec.tsx
  apps/dashboard/pages/_app.tsx
  apps/dashboard/specs/index.spec.tsx
  apps/dashboard/store/store.ts
  package.json
  yarn.lock
Owners: @snokpok, @SuhitAgarwal

cursor pointer on buttons
  libs/ui-kit-2023/src/lib/button/button.tsx
Owners: @snokpok

fix black button flow to match design system
  libs/ui-kit-2023/src/lib/button/button.tsx
Owners: @snokpok

fix input flow to match design system and add transition
  libs/ui-kit-2023/src/lib/one-line-text/one-line-text.tsx
  libs/ui-kit-2023/src/lib/paragraph-text/paragraph-text.tsx
Owners: @snokpok

CODEOWNERS:

* 						@snokpok @SuhitAgarwal
/.github				@snokpok

/apps/dashboard 		@snokpok @SuhitAgarwal
/apps/interim 			@snokpok @SuhitAgarwal
/apps/log-server 		@snokpok
/apps/recruitment 		@snokpok @SuhitAgarwal
/apps/sso 				@snokpok @SuhitAgarwal
/apps/sso-mock-app 		@VictiniX888

/libs/analytics			@snokpok
/libs/ui-kit-2023		@snokpok
/libs/hackform-client				@snokpok
/libs/hibiscus-supabase-client		@snokpok
/libs/www-2023			@SuhitAgarwal

/tools 				@snokpok
